{% extends 'base.html.twig' %}

{% block title %}Nettoyage_Vitre{% endblock %}
{% block body %}
    <div class="service" style="background-color: #f6f7f8;">
        <div class="section-header">
            <p>Nos Services</p>
            <h4><strong> Petits travaux</strong></h4>
        </div>
        <div class="container">
            <h2 class="text-center">Travaux de Rénovation</h2>
            <p class="align-center">Nous vous proposons toute une gamme de services liés à la rénovation de votre domicile ou de vos locaux.</p>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="build/img/peint.jpeg" alt="Service">
                        <h3>PEINTURE ET RÉNOVATION DES JOINTS</h3>
                        <p>
                            Tout type de peintures, remise à neuf de joints de carrelages et de sanitaires….
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="build/img/pose.jpg" alt="Service">
                        <h3>POSE ET DÉPOSE DE SOLS</h3>
                        <p>
                            Moquettes, linoléums, sols thermoplastiques…
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <img src="build/img/paquet.jpeg" alt="Service">
                        <h3>RÉNOVATION DE PARQUET</h3>
                        <p>
                            – Ponçage, vitrification ou mise en cire de parquet – Cristalisation de marbre…
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}