{% extends 'base.html.twig' %}

{% block title %}Nettoyage_Vitre{% endblock %}
{% block body %}
    <div class="service" style="background-color: #f6f7f8;">
        <div class="section-header">
            <p>Nos Services</p>
            <h4>Nettoyage de Vitres</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 maison">
                    <div class="d-flex flex-column align-items-center justify-content-center bg-vitre rounded h-100 py-5 px-3">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="about-text">
                        <h2><span>Nettoyage maison avant déménagement à Paris</span></h2>
                        <p>
                            <strong>ECO NET</strong> de nettoyage maison à paris, Starsnett Services vous offre un service de nettoyage maison adapté selon vos besoins. Starsnett Services est également à votre service pour un grand nettoyage de maison,
                            grand ménage avant déménagement, nettoyage de logements très sales,.. Notre équipement complet nous permettra de répondre chaque type de nettoyage, en fonction de l’intérieur de votre maison.
                        </p>
                        <ul class="ul mt-4">

                            <li><span style="color: #000000;"><i class="fas fa-chevron-right"></i>&nbsp;&nbsp; Nos équipes professionnelles offertes un service nettoyage de qualité dont les performances sont évaluées régulièrement par les managers pour votre satisfaction.</span></li>
                            <li><span style="color: #000000;"><i class="fas fa-chevron-right"></i>&nbsp;&nbsp; Starnett Services, est à votre disposition pour réaliser le nettoyage des vitres de votre entreprise et vos locaux à Paris et île de France. </span></li>
                            <li><span style="color: #000000;"><i class="fas fa-chevron-right"></i>&nbsp;&nbsp; Une grande rapidité d’intervention&nbsp;:&nbsp;Notre entreprise a su diversifier ses offres pour toujours répondre aux besoins des grandes sociétés</span></li>

                        </ul>
                        <p><strong>
                            N’hésitez pas à nous contacter pour plus d’informations de nos services ou pour demander un devis rapide et gratuit pour le nettoyage de vitre à Paris</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}