<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer-contact">
                    <h2>Cntacts</h2>
                    <p><i class="fa fa-map-marker-alt"></i>2 Rue de la Station, 93700 Drancy, France</p>
                    <p><i class="fa fa-phone-alt"></i>09 87 38 48 85 </p>
                    <p><i class="fa fa-mobile-alt"></i>+33 7 66 62 60 89 </p>
                    <p><i class="fa fa-envelope"></i>eco.nettoyage75@gmail.com</p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <a href="">ACCUEIL</a>
                    <a href="">A-PROPOS</a>
                    <a href="">Nos Service</a>
                    <a href="">Nos Cleaners</a>
                    <a href="">Contact</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-link">
                    <a href="">Our Clients</a>
                    <a href="">Clients Review</a>
                    <a href="">Ongoing Project</a>
                    <a href="">Customer Support</a>
                    <a href="">FAQs</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-form">
                    <h2>NEWSLETTER</h2>
                    <p>   
                    Inscrivez-vous à notre Newsletter pour recevoir les dernières nouveautés et offres.
                    </p>
                    <input class="form-control" placeholder="Email here">
                    <button class="btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-menu">
        <div class="f-menu">
            <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
            <a href="">Cookies</a>
            <a href="">Help & FQAs</a>
            <a href="">Contact us</a>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">ECO NET  </a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p> <a href="#">ECO NET</a></p>
            </div>
        </div>
    </div>
</div>